<%@student.faults.sorted.group_by(&:calendar).each do |calendar, faults|%>
	<% count_fauts = 0 %>
	<div class="alert alert-info">
		<p class='text-info'><i class="icon-calendar"></i> <%= calendar%></p>	  
		<table class='table'>
			<tr>
				<th>Dia</th>
				<th>Justificativa</th>
			</tr>			
		<% faults.each do |f| %>	
			<%count_fauts = count_fauts + 1 %>
			<tr>
				<td><%= f %></td>
				<td><%= f.justification_humanize %></td>				
			</tr>
		<% end %>
			<tr>
				<td colspan='2'>
					<strong>Quantidade de faltas:</strong> <%= count_fauts %>
				</td>
			</tr>
		</table>
	</div>
<% end %>