<table class="table table-striped table-hover table-bordered">
  <colgroup>
    <col>
    <col width="160">
  </colgroup>
  <thead>
    <tr>
      <th>Dia</th>
      <th>Horário</th>
      <th>Descrição</th>
    </tr>
  </thead>
  <tbody>
    <% if @student.events.any? %>
      <% @student.events.each do |e| %>
        <tr>
          <td><%= e.calendar_day.to_string %></td>
          <td><%= e.time_start.try(:strftime, '%H:%M')%> às <%= e.time_end.try(:strftime, '%H:%M')%></td>
          <td><%= e.description %></td>
        </tr>
      <% end %>
    <% else %>
    <tr>
      <td colspan='3'>Nenhum registro foi encontrado.</td>
    </tr>
    <% end %>
  </tbody>
</table>