<h3 class='text-center'>Advertência</h3>
<table>
	<tr>
		<td>
			<strong><%= l @warning.calendar_day.day , format: :long %></strong>
		</td>
	<tr>
</table>
<br>
<p>
	O aluno <strong><%= @warning.student %></strong> está sendo advertido por <%= @warning.description %>. Fica o aluno ou responsável ciente de que em caso de reincideência, poderá ser suspenso do curso
</p>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<p class='text-center'>
	_____________________________________________________________________________<br>
	<strong>Assinatura do Responsável/Aluno</strong>
</p>
<br/>
<br/>
<br/>
<p class='text-center'>
	_____________________________________________________________________________<br>
	<strong>Assinatura do Professor(a)</strong>
</p>

<br/>
<br/>
<br/>
<p>
	<strong> Obs: Informamos que após 3ª advertência o aluno será desligado automaticamente do curso</strong>
</p>