<div class="alert alert-info">
<button type="button" class="close" data-dismiss="alert">&times;</button>
<i class="icon-info"></i><strong><%= @classroom_old%></strong><br>
<% @groups_approved.each do  |g| %>
  <%= g %><br>
<% end %>
</dvi>