<% @company.calendars.sorted.each do |c| %>
  <h4><%=c%></h4><br>
	<% total_groups = 0 %>
	<% StatusGroup.to_a.each do |s| %>
		<% groups = c.groups.status(s.last.to_i)%>
		<h5><%= s.first %>(<%= count_groups %>)</h5>
 			<% if s.first.to_s == 'Ativo' %>
					<% cc = 0%>
					<% groups.group_by(&:classroom).each do |classroom, groups| %>
						<%cc = cc +  groups.count %>
					<% end %>
					<% total_groups =  total_groups + cc %>					
			<% end %>
 <% end %>
	<h5> Total: <%= total_groups %><h5>
<%end%>