<table class="table">
	<tr>
		<% current_calendar.months.each do |month| %>
		<td>		
			<%= link_to "#{TranslateMonths.translate(month.to_i)}", lists_company_path(current_company, month: month)%>
		</td>
		<% end %>
	</tr>
</table>
