<a id='open' href="#">Calendário</a>
<div id='information'>
  <a id='close' href="#">x</a>
	<% @calendar.days.group_by(&:week).each do |week, days| %>
		<% week %>
		<table class='table'>
				<tr>
					<% days.each do |d|%>
						<td title="<%d.events.each do  |e| %><%= e %><%end%>" data-placement="top" data-toggle="tooltip" href="#" data-original-title="">
							<%if d.day  == Date.current %>
								<div class="alert alert-info">
								<%= link_to "#{d.to_string}", new_event_path(calendar_day_id: d.id) %>																	
							<% end %>														

							<%if d.day < Date.current %>
								<div class="alert alert-success">
								<%=  d.to_string %>																	
							<% end %>							
							<% if d.day > Date.current %>
								<%= link_to "#{d.to_string}", new_event_path(calendar_day_id: d.id) %>																									
							<% end %>							
							<% if d.day  == Date.current %>
								</div>					  	
							<% end %>
							<%if d.day < Date.current %>
								</div>
							<% end %>														
						</td>
					<% end %>					
				</tr>
		</table>
	<% end %>
</div>
