<script src='http://www.google.com/jsapi'></script>

<div id='chart_mid'></div>
<%= render_chart @chart_mid, 'chart_mid' %>

<div id='chart_final'></div>
<%= render_chart @chart_final, 'chart_final' %>

<div id='chart_oral'></div>
<%= render_chart @chart_oral, 'chart_oral' %>
