<%= simple_form_for(@teacher) do |f| %>
  <div class="row-fluid">
    <div class="span6"><%= f.input :name, input_html: { class: 'span12' } %></div>
  </div>
  <div class="form-actions">
    <%= f.button :submit, :class => "btn btn-success" %>
    <%= link_to 'Voltar', :back, :class => "btn"  %>
  </div>
<% end %>
