<div class="navbar nav-toggle-sidebar">
  <div class="navbar-inner toggle left">
    <i class="icon-chevron"></i>
  </div>
</div>

<div class="navbar nav-breadcrumb">
  <div class="navbar-inner">
    <ul class="breadcrumb">
      <% breadcrumbs.each_with_index do |breadcrumb, index| %>
        <% if index < breadcrumbs.length - 1 %>
          <li><%= link_to breadcrumb[:text], breadcrumb[:url] %><span class="divider">/</span></li>
        <% else %>
          <li class="active"><%= breadcrumb[:text] %></li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>
<div class="clearfix"></div>
