<footer>
  <div class="container">
    <p class="pull-left">Copyright &copy; 2013 - <a href="<%= root_path %>">Work Up</a></p>
    <!-- This theme comes under Creative Commons Attribution 3.0 Unported. So don't remove below link back -->
    <div class="pull-right">Designed by <a href="https://github.com/VinceG/Bootstrap-Admin-Theme"></a> &copy; 2013 </div>
    <div class="clearfix"></div>
  </div>
</footer>
