<footer>
  <div class="container">
    <p class="pull-left">
    	<%= image_tag '/images/noob_logo.png', :width => 100%>      
    </p>
    <div class="pull-right"></div>
    <div class="clearfix"></div>
  </div>
</footer>
