<footer>
  <div class="container">
    <p align="pull-right">
    	<%= image_tag '/images/noob_logo.png', :width => 100%>      
    	<%= image_tag '/images/ccaa.gif', :width => 50%>      
    	<%= image_tag '/images/achieve_logo.jpg', :width => 150%>      
 		</p>
    <div class="pull-right"></div>
    <div class="clearfix"></div>
  </div>
</footer>
