<!DOCTYPE html>
<html>
  <head>
    <title>Cempre<%= "- #{title}" unless title.blank? %></title>
    <%= stylesheet_link_tag "report", :media => "all" %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/head_report' %>
  </head>
  <body>
  </body>
</html>
