<!DOCTYPE html>

<html>
  <head>
    <title><%= title%></title>
    <meta content="Portrait" name="pdfkit-orientation" />
    <%= stylesheet_link_tag "report", :media => "all" %>
    <%= csrf_meta_tags %>
  </head>
    <body style="position: relative; top: 1px;">
    <div class="page-header">
    <div>
    <div class="container">
        <%= yield %>
    </div>
    <p>
    </div>
    </div>
    <div id="footer">
  </body>
</html>
